body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pixel';
    src: url(../assets/gui/fonts/minecraft-police.ttf)
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    background-image: url("/content/assets/spritesheets/background_menu/background-jeuimg.png");
    background-size: cover;
    inset: 0;
    filter: blur(5px) brightness(50%);
    z-index: -1;
    scale: 1.1;
    animation: bg-circle 13s linear infinite;
}

@keyframes bg-circle {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

.content {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.content > div {
    display: none;
}

button {
    padding: 1rem;
    background-color: rgba(120, 120, 120, 0.8);
    width: 10rem;
    border: 2px solid rgba(221, 221, 221, 0.5);
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'pixel', Arial, sans-serif;
}

#action-bar,#dialog-content {
    position: absolute;
    margin: 0;
}

ul {
    position: absolute;
    margin: 0;
}

img {
    display: none;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

p {
    text-align: center;
    color: white;
    letter-spacing: 0.2em;
    font-family: 'pixel', Arial, sans-serif;
    font-size: 30px;
}

.credits > button {
    color: white;
}