body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 4fr 1fr;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body > div {
    z-index: 1000;
}

div > * {
    color: lightgray;
}

#board {
    /* -6px pour le padding de #tileset */
    height: calc(85% - 6px);
}

#world-info {
    height: 100vh;
    padding-left: 5px;

    background-color: #272729;
}

#world {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: 5px 0 0 5%;
    background-color: transparent;
    color:lightgray;
    border: none;
}

#layers {
    margin: 0 5px;
    height: 20%;
    background-color:#58585a;
    overflow: scroll;
}

.layer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 1px solid #707070;
}

.layer > * {
    margin: 2px;
    text-align:center;
}

.selected {
    background-color: #707070;
}

#layer-options > * {
    margin-top: 15px;
}

select, input {
    color:#272729;
}

#index {
    width: 30%;
}

#add {
    color:#272729;
    width: 98%;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:bold;
    margin: 5px 2% 5px 0;
}

#tileset {
    position: absolute;
    bottom: 0;
    height: 15%;
    padding: 3px;
    /* Pour compenser le padding */
    width: calc(100vw - 6px);

    background-color: #272729;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16px;
    grid-template-rows: repeat(auto-fill, minmax(16px, 1fr));
    gap: 2px;
    overflow: scroll;
}

#tileset > img {
    display: block;
}

.brush {
    outline: 2px solid white;
    outline-offset: -1px;
}
