body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    background-image: url("/content/assets/spritesheets/background_menu/background-jeuimg.png");
    background-size: cover;
    inset: 0;
    filter: blur(5px);
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(225, 225, 225, 0.5);
    border-radius: 15px;
}

button {
    padding: 1rem;
    background-color: rgba(120, 120, 120, 0.8);
    width: 10rem;
    border: 2px solid rgba(221, 221, 221, 0.5);
    margin-bottom: 1em;
    letter-spacing: 0.1em;
}

p {
    position: absolute;
    margin: 0;
}

ul {
    position: absolute;
    margin: 0;
}