body {
    height: 100vh;
}

#action-bar {
    font-family: 'Segoe UI', Arial;
    font-size: 42px;
    text-transform: capitalize;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

img {
    image-rendering: pixelated;
}

#img0 {
    transition: top 50ms, left 50ms;
}