body {
    height: 100vh;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#action-bar {
    font-family: 'Segoe UI', Arial;
    font-size: 42px;
    text-transform: capitalize;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
}

#dialogs {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 0.5% 20px 0.5%;
    padding: 10px 0;
    width: 99%;

    /* Change en grid par le serveur */
    display: none;
    grid-template-columns: 1fr auto;

    background-color: #EAC797;
    border-width: 10px;
    border-radius: 5px;
    border-color: #936B3E;
}

#dialogs > * {
    font-size: 26px;
    color: #936B3E;
    margin: 10px;
}

img {
    image-rendering: pixelated;
}

.background {
    display: none;
}

#img0 {
    transition: top 50ms, left 50ms;
}

.credits {
    display: none;
}
